<?php
return array(
    'bot' => array(
        'plugins'  => array(
            'NickServ' => array(
                'nick'     => 'NickServ',
                'password' => ''
            )
        ),
        'channels' => array(),
        'db' => array(
            'adapter' => 'pdo_mysql',
            'options' => array(
                'host'     => '',
                'username' => '',
                'password' => '',
                'dbname'   => ''
            )
        )
    ),
    'client' => array(
        'address'  => '',
        'nickname' => '',
        'username' => '',
        'realname' => '',
        'version'  => ''
    )
);
