<?php
return array(
    'bot' => array(
        'plugins'  => array(
            'NickServ' => array(
                'nick'     => 'NickServ',
                'password' => ''
            )
        ),
        'channels' => array('#teamfuckthetheme')
    ),
    'client' => array(
        'address'  => '',
        'nickname' => '',
        'username' => '',
        'realname' => '',
        'version'  => ''
    )
);
